
<ion-tabs>

  <ion-tab-bar slot="top">
    <img src = "https://firebasestorage.googleapis.com/v0/b/portfolio-73db1.appspot.com/o/logoweb1-removebg-preview.png?alt=media&token=20d5e034-c6f2-4b47-b91b-05f59519c99e" class = "img1">    
    <ion-tab-button tab="Home">
      <ion-icon name="home"></ion-icon>
      <ion-label class = "myLabels">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Portfolio">
      <ion-icon name="book"></ion-icon>
      <ion-label class = "myLabels" id = "img2">Portfolio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ContactMe">
      <ion-icon name="call"></ion-icon>
      <ion-label class = "myLabels">Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> 
