<app-nav>
  </app-nav>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h3 style="text-align: center; color: white;">Oops.</h3>
          <br>
          <h4 style="text-align: center; color: white;">The page you are looking for is not found.</h4>
          <br>
          <h5 style="text-align: center; color: white;">Please, proceed to home page by clicking on the button below.</h5>
          <br>
          <ion-list style="text-align: center; background-color: #121212; ">
          <ion-button [routerLink]="['']" expand = "full" style="color: white; text-align: center; --background: #202020; font-family: Helvetica; text-transform:none;">Back to main</ion-button>
          </ion-list>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      </div>
    </div>
</div>
<div id="page-container">
  <app-footer>
  </app-footer>
</div>
</ion-content>