<app-nav>
  </app-nav>
<ion-content>
  <br>
  <h3 style="color: white;">Portfolio</h3>
  <p style="color: white;">These are some of the works I have done previously.</p>

  <div class="container">
    <h4><b>Mobile Applications</b></h4>
    <br>
    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ion-card>
          
          <img
            src="../../assets/port1.png">
            
            <ion-card-header>
            <ion-card-title class="title"><b style="color: white;">TP Open House 2021</b></ion-card-title>
            </ion-card-header>
          <ion-card-content style="color: white;">
            In this project, I was a Front End Developer, where I was involved in bugtesting and developing of
            functions.
            <ion-button expand = "full" (click)="projectItem('OpenHouse')">
              View Project
              </ion-button>
          </ion-card-content>

        </ion-card>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ion-card>
          <img
            src="../../assets/port2.png">
            <ion-card-header>
            <ion-card-title class="title"><b style="color: white;">ieatifindimake</b></ion-card-title>
            </ion-card-header>
            <ion-card-content style="color: white;">
              In this project, I made a recipe review mobile application with Ionic framework, which allows users to view and create reviews on recipes.
              <ion-button expand = "full" (click)="projectItem('ieatifindimake')">
                View Project
                </ion-button>
            </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <h4><b>Web Applications</b></h4>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ion-card>
          <img
            src="../../assets/obkd.png" style="width: 200%;">
            <ion-card-header>
            <ion-card-title class="title"><b style="color: white;">TradeX</b></ion-card-title>
            </ion-card-header>
            <ion-card-content style="color: white;">
              In this project, I did the portion of US Equities, where I made API Calls to get real time prices and allow users to purchase equities.
              <ion-button expand = "full" (click)="projectItem('TradeX')">
                View Project
                </ion-button>
            </ion-card-content>
        </ion-card>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ion-card>
          <img
            src="../../assets/Untitled.png" style="width: 200%;">
            <ion-card-header>
            <ion-card-title class="title"><b style="color: white;">KReviews</b></ion-card-title>
            </ion-card-header>
            <ion-card-content style="color: white;">
              In this project, I have created a restaurant review website. It has Google Maps API and user session functionalities integrated into it.
              <ion-button expand = "full" (click)="projectItem('KReviews')">
                View Project
                </ion-button>
            </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <div id="page-container">
    <app-footer>
      </app-footer>
  </div>
</ion-content>