.ionImg{
    height: 70%;
    width: 40%;
    margin: auto;
}
ion-icon {
    font-size: 200%; 
}
.center{
    margin: auto;
}
img{
    border-radius: 50%;
}

ion-content{
    --background: #121212;
}

*{
    font-family: Helvetica;
    color: beige;
}

#page-container {
    position: relative;
    min-height: 20vh;
  }
  .myLabels{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
}
h5{
    font-family: Helvetica;
    font-weight: bold;
    margin: auto;
}
h6{
    font-weight: bold;
    font-style: italic;
}

ion-tab-bar{
    --border : none;
}
.minHeight{
    min-height: calc(100vh - 10px);
}
*{
    color : white;
}