.ionImg{
    height: 70%;
    width: 40%;
    margin: auto;
}
ion-icon {
    font-size: 250%; 
}
.center{
    margin: auto;
}
img{
    border-radius: 50%;
}
.button{
    background-color: #121212;
}
*{
    font-family: Helvetica;
}
