ion-content{
    --background: #121212;
}
ion-input{
    --background: white;
    --color: #202020;
    border-radius: 10px;
}
ion-fab-button{
    --background: beige;
}

ion-icon{
    background-color: #202020;
    font-size: 200%;
}
img{
    border-radius: 50%;
}
ion-button{
    --background: #202020;
    font-family: Helvetica;
    font-weight: bold;
    --color: white;
}


#page-container {
    position: relative;
    min-height: 15vh;
  }

  ion-item{
      --background: #121212;
      opacity: 1;
  }
  ion-item:hover{
    --background: beige;
  }
  *{
    color : white;
}

