<app-nav>
</app-nav>

<ion-content>
  <div class="container">
    <br>
    <h3 style="text-align: center;">About Me</h3>
    <br>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/portfolio-73db1.appspot.com/o/myself1.jpg?alt=media&token=1937783f-a10e-45ff-849b-48058a1ce4c2">
      </div>
      <div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6">
        <p>I am currently a Second-Year Student in Temasek Polytechnic pursuing the course of Financial Business Informatics.
          During my course of studies, I have take up various modules which allowed me to gain a wealth of experience in developing
          applications. Some languages that I have once interacted with include, Java, Javascript and Flask.
        </p>
        <p>I aspire to be in the technology industry where I can develop applications and contribute to an organization. I am always intriguied with applications filled with innovation. </p>      
      <h5><b>You can contact me via: </b></h5>
      <ion-item lines = "none" style="color: #0072c6; font-weight: bold;" (click) = "openEmail()">Email</ion-item>
        <br>
      <ion-item lines = "none" style="color:#0e76a8; font-weight: bold;" (click) = "openLinkedin()">Linkedin</ion-item>
      <br>
      <ion-item lines = "none" style="color: #E1306C; font-weight: bold;" (click) = "openInstagram()">Instagram</ion-item>
      <br>
      <ion-item lines = "none" style="color: #3b5998; font-weight: bold;" (click) = "openFacebook()">Facebook</ion-item>
      <br>
      <ion-item lines = "none" style="color:#00acee; font-weight: bold;" (click) = "openTwitter()">Twitter</ion-item>
      </div>
    </div>
  </div>


  <div id="page-container">
    <app-footer>
    </app-footer>
  </div>
</ion-content>