<app-nav>
</app-nav>

<ion-content>
  <br>
  <div class="container">
    <br>

    <div class="row">
      <div class="col-xs-4 col-sm-4 col-sm-4 col-lg-4">
        <br><br><br>
        <ion-icon name="logo-linkedin" style="color : #202020"></ion-icon>
        <ion-label>
          https://www.linkedin.com/in/nicholas-soh-6b55ab171/
        </ion-label>
        <br><br>
        <ion-icon name="logo-facebook" style="color : #202020"></ion-icon>
        <ion-label>
          https://www.facebook.com/nicsohdelin/
        </ion-label>
        <br><br>
        <ion-icon name="logo-twitter" style="color : #202020"></ion-icon>
        <ion-label>
          https://twitter.com/niicc_cc
        </ion-label>
        <br><br>
        <ion-icon name="logo-instagram" style="color : #202020"></ion-icon>
        <ion-label>
          https://www.instagram.com/niicc.cc
        </ion-label>
      </div>

      <div class="col-xs-8 col-sm-8 col-sm-8 col-lg-8">
        <h3 style="text-align: center; font-family: Helvetica; font-weight: bold;">Contact Me.</h3>
        <p style="text-align: center;  font-family: Helvetica;">You can key in your email and your content here. I'll be
          glad to answer your
          questions!</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Name">
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input placeholder="Email address">
              </ion-input>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-textarea placeholder="Message" style="background: beige; border-radius: 10px;" rows = 5>
            </ion-textarea>
            </ion-row>
        </ion-grid>
        <br>

        <ion-button>
          Send Message
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>