<app-nav>
</app-nav>
<ion-content>
    <br>
    <div class="container">
        <h3 class="h3Text">{{projectObject.name}}</h3>
        <br>
        <h4 class="h3Text"> {{projectObject.type}}</h4>
        <h5 class="h3Text">
            <br>
            <a href="/portfolio" style="color: white;">Portfolio</a> > <a href={{hrefvar}} style="color: grey;"><b>{{projectObject.name}}</b></a>
        </h5>

        <ion-segment value="brief" color="tertiary" scrollable="true" mode="ios" [(ngModel)]="segmentModel"
            (ionChange)="segmentChanged($event)">
            <ion-segment-button value="brief">
                <ion-label style="font-family: Helvetica; font-weight: bold;">Project Information</ion-label>
            </ion-segment-button>
            <ion-segment-button value="image">
                <ion-label style="font-family: Helvetica; font-weight: bold;">Project Images</ion-label>
            </ion-segment-button>
        </ion-segment>

        <br>
        <div *ngIf="segmentModel === 'brief'">
            <div class="row">

                <div class="col-xs col-sm col-md col-lg">
                    <div class="box">
                        <br>
                        <h4 class="h3Text" style="padding-left: 2%; padding-right: 2%;">Project Brief</h4>
                        <p style="padding-left: 2%;">{{projectObject.des}}</p>

                        <h4 class="h3Text" style="padding-left: 2%;">Technologies Used</h4>
                        <p [innerHTML]="projectObject.technologiesUsed" style="padding-left: 2%;"></p>

                        <h4 class="h3Text" style="padding-left: 2%;">Achieved Grade</h4>
                        <p style="padding-left: 2%;"> {{projectObject.achievedGrade}}</p>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <h4 class="h3Text" style="padding-left: 2%; padding-right: 2%;">You may also be interested in</h4>
            </div>
            <div class="row">
                <div class="col-xs col-sm col-md col-lg" *ngFor="let projects of projectArray">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title class="title"><b>{{projects.name}}</b></ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-button expand="full" (click)="openNew(projects.id)" style="--background: #121212;">
                                View Project
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
        </div>

        <br>
        <div row *ngIf="segmentModel === 'image'">
            <div class="col">
                <h4 class="h3Text" style="padding-left: 2%;">Images of Project</h4>
                <h5 class="h3Text" style="padding-left: 2%;">These are some images of the application.</h5>
                <br>
                <ion-slides [options]="slideOptsOne" pager style="background-color: #202020; border-radius: 20px;">
                    <ion-slide *ngFor="let image of projectObject.image">
                        <div class = "container">
                        <img src={{image}} style="padding-top: 10px; padding-bottom: 10px;">
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>
    <div id="page-container">
      <ion-footer id="footer">
        <ion-toolbar style = "--background: #121212;">
          <div class = "container" style="background-color: #121212;">
          <div class = "row">
          <div class = "col" style="text-align: center;">
            <h4><b>Technical Skills</b></h4>
              Web Development
              <br><br>
              Mobile Application Development
              <br><br>
              Version Control
            </div>  
            <div class = "col" style="text-align: center;">
              <h4><b>NICHOLAS SOH</b></h4>
              <img src = "https://firebasestorage.googleapis.com/v0/b/portfolio-73db1.appspot.com/o/logoWeb.png?alt=media&token=cc752038-94fa-4374-86cd-7d21315044af"  style = "max-width: 100%;
              max-width: 100px;
              height: auto;"(click) = "toRouter()">
            </div>  
            <div class = "col" style="text-align: center;">
              <h4><b>Soft Skills</b></h4>
              Teamwork
              <br><br>
              Communication
              <br><br>
              Critical-Thinking
            </div>  
          </div>  
          </div>
        </ion-toolbar>
        <ion-toolbar style="color: #121212;">
          <ion-list style="text-align:center; background-color: #121212;">
            <br>
            <ion-button (click)="openLinkedin()" fill="clear">
              <ion-icon name="logo-linkedin" class="linkedinLogo" style="color : #0e76a8"></ion-icon>
            </ion-button>
            <ion-button (click)="openIg()" fill="clear">
              <ion-icon name="logo-instagram" class="linkedinLogo" style="color: #E1306C"></ion-icon>
            </ion-button>
            <ion-button (click)="openFb()" fill="clear">
              <ion-icon name="logo-facebook" class="linkedinLogo" style="color: #3b5998"></ion-icon>
            </ion-button>
            <ion-button (click)="openTwitter()" fill="clear">
              <ion-icon name="logo-twitter" class="linkedinLogo" style="color: #00acee"></ion-icon>
            </ion-button>
            <br><br>
            <h5 style="color: white;">©2021 Nicholas Soh</h5>
          </ion-list>
    
        </ion-toolbar>
      </ion-footer>
    </div>
</ion-content>