.h3Text{
    font-weight: bold;
}
.box{
    background: #202020;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
}
img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

#page-container {
    position: relative;
    min-height: 15vh;
  }
  ion-button{
      text-transform: none;
      font-family: Helvetica;
      font-weight: bold;
  }
  .title{
      font-family: Helvetica;
  }
//   *{
//     color : white;
// }
ion-card{
    --background: #202020;
}
ion-content{
    --background: #121212;
}
